# Target Server
TARGET_IP=192.168.56.20
SSH_USER=your_username

# AbuseIPDB
ABUSEIPDB_API_KEY=your_key_here

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Email (if using email alerts)
SMTP_HOST=192.168.56.20
SMTP_PORT=25
ALERT_FROM=monitor@local
ALERT_TO=admin@local
